/*--------- pagination style ------------*/
.pro-pagination-style ul li {
    display: inline-block;
    margin: 0 4px; }
.pro-pagination-style ul li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    border-radius: 100%;
    color: #00a651;
    -webkit-box-shadow: 0 0px 12px 0.8px rgba(0, 166, 81, 0.1);
    box-shadow: 0 0px 12px 0.8px rgba(0, 166, 81, 0.1); }
.pro-pagination-style ul li a:hover {
    background-color: #00a651;
    color: #fff; }
.pro-pagination-style ul li a.active {
    background-color: #00a651;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }
.pro-pagination-style ul li a.active:hover {
    background-color: #333; }
.pro-pagination-style ul li a.prev,
.pro-pagination-style ul li a.next {
    background-color: #f6f6f6;
    color: #00a651;
    font-size: 17px;
    -webkit-box-shadow: none;
    box-shadow: none; }
.pro-pagination-style ul li a.prev:hover,
.pro-pagination-style ul li a.next:hover {
    background-color: #00a651;
    color: #fff; }

@media only screen and (max-width: 767px) {
    .pro-pagination-style.mt-25 {
        margin-top: 0; } }